#info {
		width: 48%;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	#amount {
		background-color: #F8F9FA;
		border: solid 1px #DEE2E6;
		width: 45%;
		padding: 13px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#add {
		position: relative;
		left: 310px;
		bottom: 72px;
	}
	a {
		color: black;
		text-decoration: none;
	}
	a:hover{
		color: inherit;
	}
	:-ms-input-placeholder { 
   		font-style: italic; 
	}
	#results {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	#total {
		background-color: #F8F9FA;
		border: solid 1px #DEE2E6;
		text-align: center;
		width: 55%;
		height: 50px;
		padding: 10px;
	}